In [1]:
from pandas import DataFrame
import sqlite3
con = sqlite3.connect("data_base.db")

In [2]:
cur = con.cursor()
cur.executescript("""
    CREATE TABLE Books (
        id INT PRIMARY KEY,
        author VARCHAR(100),
        title VARCHAR(100),
        publish_year INT
    );
    
    CREATE TABLE Readers (
        id INT PRIMARY KEY,
        name VARCHAR(100)
    );
    
    CREATE TABLE Records (
        reader_id INT,
        book_id INT,
        taking_date DATE,
        returning_date DATE,
        FOREIGN KEY (reader_id) REFERENCES Readers(id),
        FOREIGN KEY (book_id) REFERENCES Books(id)
    );
    """)

In [3]:
cur.execute('''
    INSERT INTO Books (id, author, title, publish_year) VALUES
    (1, 'Лев Толстой', 'Война и мир', 1869),
    (2, 'Федор Достоевский', 'Преступление и наказание', 1866),
    (3, 'Антуан де Сент-Экзюпери', 'Маленький принц', 1943);
''')

In [4]:
cur.execute('''
    INSERT INTO Readers (id, name) VALUES
    (1, 'Иван Иванов'),
    (2, 'Петр Петров'),
    (3, 'Мария Сидорова');
    ''')

In [5]:
cur.execute('''
    INSERT INTO Records (reader_id, book_id, taking_date, returning_date) VALUES
    (1, 3, '2024-01-16', NULL),
    (2, 2, '2024-02-01', '2024-02-25'),
    (3, 2, '2024-01-05', NULL);
    ''')

### 1. Вывести список книг

In [6]:
cur.execute("SELECT title FROM Books")
print(DataFrame(cur.fetchall()).to_string(header=None, index=None))

              Война и мир
 Преступление и наказание
          Маленький принц

### 2. Вывести список читателей

In [7]:
cur.execute("SELECT name FROM Readers")
print(DataFrame(cur.fetchall()).to_string(header=None, index=None))

    Иван Иванов
    Петр Петров
 Мария Сидорова

### 3. Добавить книгу

In [8]:
cur.execute('''
     INSERT INTO Books (id, author, title, publish_year) VALUES
    (4, 'Чак Паланик', 'Бойцовский клуб', 1996);
''')

### 4. Добавить читателя

In [9]:
cur.execute('''
    INSERT INTO Readers (id, name) VALUES
    (4, 'Василий Дубов')
''')
cur.execute("SELECT name FROM Readers")
print(DataFrame(cur.fetchall()).to_string(header=None, index=None))

    Иван Иванов
    Петр Петров
 Мария Сидорова
  Василий Дубов

### 5. Выдать книгу читателю (второму в списке читателю четвёртую книгу)

In [10]:
cur.execute('''
    INSERT INTO Records (reader_id, book_id, taking_date, returning_date) VALUES
    (2, 4, '2024-03-06', NULL);
''')
cur.execute("SELECT * FROM Records")
print(DataFrame(cur.fetchall()).to_string(header=None, index=None))

 1  3  2024-01-16        None
 2  2  2024-02-01  2024-02-25
 3  2  2024-01-05        None
 2  4  2024-03-06        None

### 6. Принять книгу (у третьего в списке читателя принять вторую книгу)

In [11]:
cur.execute('''
    INSERT INTO Records (reader_id, book_id, taking_date, returning_date) VALUES
    (3, 2, '2024-01-05', '2024-03-06');
''')
cur.execute("SELECT * FROM Records")
print(DataFrame(cur.fetchall()).to_string(header=None, index=None))

 1  3  2024-01-16        None
 2  2  2024-02-01  2024-02-25
 3  2  2024-01-05        None
 2  4  2024-03-06        None
 3  2  2024-01-05  2024-03-06